@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Mrs+Saint+Delafield&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");

:root {
  --background: #ececec;
  --foreground: rgb(12, 12, 12);
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

h1 {
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: auto 0px;
}
h2 {
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  margin: 60px auto 10px auto;
  border-bottom: solid 2px var(--foreground);
  padding: 8px 0;
}
h3 {
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  margin: 35px auto 22px auto;
  padding: 3px 2px 6px 8px;
  border-left: solid 13px var(--foreground);
}
h4 {
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  margin: 30px auto 3px auto;
}
p,
li,
td,
th {
  font-family: "Inter", "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4rem;
  margin: 10px 0;
}
.menusns a {
  color: var(--foreground);
}
.menusns {
  font-size: 1rem;
  letter-spacing: 0px;
  margin: auto 25px;
}

strong {
  font-weight: 700;
}
.disco {
  margin: 2px 0;
}
.menubar a {
  color: var(--foreground);
  font-weight: 500;
}
.menubars {
  margin: auto 15px;
}
.menubars a {
  padding: 0px;
}

.menu-items {
  position: relative;
  top: 0;
  width: 90%;
  margin: 10px 5%;
  z-index: 50;
  color: var(--foreground);
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.menu-items .b {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0px;
  z-index: 200;
}
.menu-items .w {
  display: none;
}
.hea {
  display: flex;
}
.menubar {
  display: flex;
}
.sitetitle2,
.sitetitle {
  font-size: 0rem;
}

.menu-items a {
  text-decoration: none;
}
.content {
  width: 90%;
  margin: 50px 5%;
}
.menubars::after {
  position: relative;
  left: -15px;
  top: -12px;
  content: "";
  width: 10px;
  height: 1px;
  display: block;
  background: var(--foreground);
}
.menufooters a {
  text-decoration: none;
}
.menufooters {
  width: 1080px;
  display: flex;
  margin: 150px auto 0 auto;
  flex-wrap: wrap;
  padding: 0;
  font-size: 0.7rem;
  justify-content: space-between;
}
#menu-footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
#menu-footer li {
  list-style-type: none;
  margin: 0 10px 10px 0;
  padding: 0;
  font-size: 0.9rem;
}

#menu-footer ul {
  padding: 0;
}
#menu-footer li ul li {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 0.7rem;
}
#menu-footer li a {
  color: var(--foreground);
}
.mf1 {
  display: flex;
  font-size: 1.3rem;
  height: 100px;
}
.mf1-1 img {
  width: 100px;
  height: 100px;
}
.mf1-2 {
  font-size: 0.8rem;
}
.mf1-2 .t {
  font-size: 1.5rem;
}
.mf1-2 p {
  margin: 10px 0;
}
.disco {
  margin: 2px 0;
}
table td,
table th {
  border: 1px solid;
  padding: 0.5em;
}
/* Add this CSS to your existing styles or create a new stylesheet */
.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--background);
}

.menu-btn {
  display: none; /* Hide the menu button on desktop */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background-color: var(--foreground);
  margin: 6px 0;
  transition: 0.4s;
}

.open .menu-btn__burger:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.open .menu-btn__burger:nth-child(2) {
  opacity: 0;
}

.open .menu-btn__burger:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -7px);
}

.menu-items {
  padding: 10px 0;
  z-index: 1;
}
.mb {
  display: none;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
figure{
  margin: 20px;
}
figure img {
  width: 50%;
  height:auto;
}

@media screen and (min-width: 1150px) {
  @media (min-aspect-ratio: 16 / 9) {
    .menu-items {
      position: fixed;
      top: 0;
      left: 0;
      width: 280px;
      z-index: 50;
      color: var(--foreground);
      text-align: left;
      margin-left: 50px;
      display: block;
    }
    .menu-items:before {
      content: "";
      position: fixed;
      background-color: var(--background);
      opacity: 0.8;
      width: 400px;
      height: 120%;
      top: -10%;
      left: -150px;
      filter: blur(50px);
      z-index: -1;
    }
    .menu-items .b {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 80px 0px 20px 0px;
      z-index: 200;
    }
    .sitetitle2 {
      font-size: 0.7rem;
      color: var(--foreground);
      font-weight: 500;
      letter-spacing: 3px;
    }
    .sitetitle {
      color: var(--foreground);
      font-size: 2rem;
    }
    .content {
      margin-left: 300px;
      width: calc(100% - 350px);
    }
    .menubar {
      display: block;
    }
    .ms1::before {
      position: relative;
      left: -13px;
      top: -2px;
      content: "";
      width: 1px;
      height: 20px;
      display: block;
      background: var(--foreground);
    }
    .ms2::before {
      position: relative;
      left: -13px;
      top: 47px;
      content: "";
      width: 1px;
      height: 20px;
      display: block;
      background: var(--foreground);
      opacity: 0;
    }
    .menubars::after {
      position: relative;
      left: -15px;
      top: -13px;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: block;
      background: var(--foreground);
    }
    .hea {
      display: block;
    }
    .menusns {
      margin: auto;
    }
  }
}
@media screen and (max-width: 1150px) {
}
.menufooters {
  width: 96%;
}
.mf1,
.menu-footer-container {
  margin: 20px auto;
  padding-right: 23px;
}
@media screen and (max-width: 900px) {
  figure img {
    width: 100%;
    height:auto;
  }
  .content {
    width: 95%;
    margin: 120px 2.5%;
  }
  .menu-btn {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    top: 20px;
    right: 20px;
  }
  .open .menu-btn__burger {
    background-color: #ececec;
  }
  .menu-items {
    display: none;

  }
  .open .menu-items {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap-reverse;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #000;
    padding: calc(50vh - 200px) calc(50% - 150px);
    margin: 0;
    box-sizing: content-box;
  }
  .menubar {
    flex-wrap: wrap;
    height: 270px;
  }
  .menubars {
    width: 100%;
    font-size: 2rem;
    margin: auto;
    z-index: 10;
  }
  .hea a,
  .menubar a {
    color: #fff;
  }
  .menusns {
    margin: 0;
    font-size: 1.5rem;
  }
  .hea .w {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 350px;
    height: 350px;
    opacity: 0.5;
    z-index: 0;
  }
  .hea .b {
    display: none;
  }
  .hea {
    height: 30px;
  }
  .mb {
    display: block;
    width: 50px;
    height: 50px;
    padding: 13.5px 10px;
  }
  header {
    background-color: var(--background);
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .mlogo{
    width: 50px;
  }

  
  .open {
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--foreground);
    animation: fadeIn 0.3s ease-in 0s forwards;
    transition: all 0.5s;
  }


  @keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      display: block;
      opacity: 1;
    }

    99% {
      display: block;
      opacity: 0;
    }

    100% {
      display: none;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p,
  li,
  td,
  th {
    font-size: 0.9rem;
  }
}
